/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

span.navbar-brand {
    color: #007bff !important;
}

nav.navbar {
    background-color: white;
}

div.upload-container {
  padding-top: 60px;
  background-color: rgb(41, 128, 185);
  color: white;
}

input.file-upload {
  top: 0px;
  right: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
  font-size: 1px;
  direction: ltr;
  cursor: pointer;
}

div.page-image-container {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 3px;
}

div.page-image-container img {
  max-width: 100%;
}

div.results {
  background-color: rgb(34, 34, 34);
  color: white;
  border-bottom: 1px solid rgb(17, 17, 17);
}

div.json-container {
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 20px;
}

div.container {
  max-width: 800px;
}
